# MongoDB connection string
MONGO_URL=mongodb://admin:admin123@ac-bpye3dx-shard-00-00.dgkjwsa.mongodb.net:27017,ac-bpye3dx-shard-00-01.dgkjwsa.mongodb.net:27017,ac-bpye3dx-shard-00-02.dgkjwsa.mongodb.net:27017/studentsDB?ssl=true&replicaSet=atlas-zoy5ys-shard-0&authSource=admin&retryWrites=true&w=majority


# Server configuration
PORT=3000
NODE_ENV=development
LOG_LEVEL=info